In [1]:
 dir(dict)

['__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__ror__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [7]:
scores={"Virat":90,
        "Rohit":100,
        "Rahul":70,
        "Hardik":9,
        "Gill":20,
        "Jadeja":30,
        "Siraz":15}
scores["Aswin"]=15
print(scores)

{'Virat': 90, 'Rohit': 100, 'Rahul': 70, 'Hardik': 9, 'Gill': 20, 'Jadeja': 30, 'Siraz': 15, 'Aswin': 15}

In [4]:
scores={"Virat":90,
        "Rohit":100,
        "Rahul":70,
        "Hardik":9,
        "Gill":20,
        "Jadeja":30,
        "Siraz":15}
scores.update({"Jadeja":50})
scores

{'Virat': 90,
 'Rohit': 100,
 'Rahul': 70,
 'Hardik': 9,
 'Gill': 20,
 'Jadeja': 50,
 'Siraz': 15}

In [6]:
scores.update({"Hardik":65,"Rahane":45})
scores

{'Virat': 90,
 'Rohit': 100,
 'Rahul': 70,
 'Hardik': 65,
 'Gill': 20,
 'Jadeja': 50,
 'Siraz': 15,
 'Rahane': 45}

In [10]:
scores.setdefault("Rahul",60)
scores

{'Virat': 90,
 'Rohit': 100,
 'Rahul': 70,
 'Hardik': 65,
 'Gill': 20,
 'Jadeja': 50,
 'Siraz': 15,
 'Rahane': 45}

In [12]:
scores.setdefault("Pujara",50)
scores

{'Virat': 90,
 'Rohit': 100,
 'Rahul': 70,
 'Hardik': 65,
 'Gill': 20,
 'Jadeja': 50,
 'Siraz': 15,
 'Rahane': 45,
 'Pujara': 50}

In [14]:
scores.popitem()
scores

{'Virat': 90,
 'Rohit': 100,
 'Rahul': 70,
 'Hardik': 65,
 'Gill': 20,
 'Jadeja': 50,
 'Siraz': 15,
 'Rahane': 45}

In [22]:
scores.pop("Jadeja",50)
scores

{'Virat': 90,
 'Rohit': 100,
 'Rahul': 70,
 'Hardik': 65,
 'Gill': 20,
 'Siraz': 15,
 'Rahane': 45}

In [24]:
scores.get("Siraz")

15

In [28]:
list1=["A","B","C","D"]
my_dict=dict.fromkeys(list1)
my_dict

{'A': None, 'B': None, 'C': None, 'D': None}

In [36]:
list1=["A","B","C","D"]
my_dict=dict.fromkeys(list1)
my_dict.update({"A":20})
my_dict

{'A': 20, 'B': None, 'C': None, 'D': None}

In [38]:
for k in scores.keys():
    if k =='Hardik':
        scores[k]=19
scores

{'Virat': 90,
 'Rohit': 100,
 'Rahul': 70,
 'Hardik': 19,
 'Gill': 20,
 'Siraz': 15,
 'Rahane': 45}

In [42]:
scores_list=[]
for v in scores.values():
    scores_list.append(v)
print(scores_list)
print("Total Score: ",sum(scores_list))

[90, 100, 70, 19, 20, 15, 45]
Total Score:  359

In [ ]:
#sets(07-01-2025)
#unorderd
#mutable
#unique values
#no indexing

In [3]:
s1={1,8,9,0,10,9,0,1,9}
print(s1)
print(type(s1))

{0, 1, 8, 9, 10}
<class 'set'>

In [5]:
list1=[1,8,9,0,10,20,78,8,8,8]
s2=set(list1)
print(s2)
print(type(s2))

{0, 1, 8, 9, 10, 78, 20}
<class 'set'>

In [7]:
s1={2,3,5,6,7}
s2={5,6,7}
s1-s2

{2, 3}

In [9]:
s1={1,2,3,4,5}
s2={4,5,6,7,8}
s1.symmetric_difference(s2)

{1, 2, 3, 6, 7, 8}

In [11]:
s1={1,2,3,4}
s2={2,4,7,8}
s1|s2

{1, 2, 3, 4, 7, 8}

In [13]:
s1={1,2,3,4}
s2={2,4,7,8}
s1&s2

{2, 4}

In [15]:
s1={1,2,3,4,5}
s2={1,2,3}
s2.issubset(s1)

True

In [17]:
s2.issuperset(s1)

False

In [19]:
s1.issuperset(s2)

True

In [25]:
#string creation 
#used in text processing(any language)
#immutable
str1="Welcome to aiml class"
print(str1)
str2='We started with python'
print(str2)
str3='''This is an awesome class'''
print(str3)

Welcome to aiml class
We started with python
This is an awesome class

In [37]:
str1="Welcome to aiml class"
print(type (str1))
print(type(str2))
print(type(str3))

<class 'str'>
<class 'str'>
<class 'str'>

In [39]:
print(str1)#slicing
str1[5:10]

Welcome to aiml class

'me to'

In [41]:
#string methods
print(str1)
str1.split()

Welcome to aiml class

['Welcome', 'to', 'aiml', 'class']

In [49]:
reviews=["The product is awesome", "Great service"]
joined_string=' '.join(reviews)
joined_string

'The product is awesome Great service'

In [55]:
str="   Hello, How are you?   "
str

'   Hello, How are you?   '

In [59]:
str.strip()

'Hello, How are you?'

In [63]:
str="   Hello, How are you?   "
str.lower()

'   hello, how are you?   '

In [65]:
str.upper()

'   HELLO, HOW ARE YOU?   '

In [ ]:
sales_data={
    "ProductID":[101,102,103,104,105,106,107,108,109,110],
    "ProudctName":["Laptop","Mouse","Keyboard","Chair","Desk","Webcam"],
    "Category":["Electronics","Accessories","Accessories","Furniture","Accerssories","Electronic"],
    "StockAvailable":[15,20,25,60,30,25,40,45,67,80]

In [71]:
d1={"ram":160,"Shyam":170,"Ramya":176}
for k in d1.keys():
    print(k)

ram
Shyam
Ramya